<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap -m-4">
            <!-- loop  -->
            <% result.forEach(element=>{ %>
                <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                    <a class="block relative h-48 rounded overflow-hidden">
                        <img alt="ecommerce" class="object-cover object-center w-full h-full block"
                            src="<%-element.productImagePath%>">
                    </a>
                    <div class="mt-4 ">
                        <div>
                            <h2 id="name<%-element.id%>" class=" text-gray-900 title-font sm:text-lg text-md font-medium ">
                                <%-element.productName.slice(0, 25)%>...
                            </h2>
                            <div class="my-1">
                                <b class="  mr-5 " id="price<%-element.id%>">₹
                                    <%-element.productPrice%>
                                </b>
                                <a href="/view/<%-element.id%> " class=" text-blue-500 my-1 "> View</a>
                            </div>

                            <button id="<%-element.id%>" class=" Add_to_Cart inline-flex text-white bg-indigo-500 border-0 p-2 rounded item-center hover:bg-indigo-600">
                                <span class="material-icons">
                                    shopping_cart
                                </span> Add To Cart
                            </button>
                        </div>

                    </div>

                </div>
                <% })%>

        </div>
    </div>
</section>